<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                @VietnamTime.Now.Year © BookCar | Bảo lưu mọi quyền.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-right d-none d-sm-block">
                    Thiết kế và phát triển bởi Murat Yucedag
                </div>
            </div>
        </div>
    </div>
</footer>