<div class="sidebar-box ftco-animate">
    <h3>Thông tin thêm</h3>
    <p>Smart Car luôn mong muốn mang đến thông tin hữu ích, minh bạch và những trải nghiệm thuê xe thuận tiện cho khách hàng.</p>
</div>