@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Danh sách hãng xe</h4>
                        <p class="card-subtitle mb-4">
                            Tại đây, bạn có thể xem danh sách hãng xe, chỉnh sửa hoặc xóa hãng xe.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên hãng xe</th>
                                        <th>Xóa</th>
                                        <th>Cập nhật</th>
                                        <th>Các xe thuộc hãng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td>@item.name</td>
                                            <td><form method="post" action="/AdminBrand/RemoveBrand/@item.brandID" class="d-inline" onsubmit="return confirm('Bạn chắc chắn muốn xóa dữ liệu này?');">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-outline-danger">Xóa</button>
</form></td>
                                            <td><a href="/AdminBrand/UpdateBrand/@item.brandID" class="btn btn-outline-success">Cập nhật</a></td>
                                            <td><a href="/AdminBrand/UpdateBrand/@item.brandID" class="btn btn-outline-dark">Các xe thuộc hãng</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/AdminBrand/CreateBrand/" class="btn btn-outline-primary">Thêm hãng xe mới</a>
                        </div>

                    </div>
                    <!-- end card-body-->
                </div>
                <!-- end card -->

            </div>
            <!-- end col -->

        </div>
        <!-- end page title -->

    </div> <!-- container-fluid -->
</div>

