@model UpdateBrandDto

@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thêm hãng xe mới</h4>
                        <p class="card-subtitle mb-4">Bạn có thể nhập thông tin hãng xe vào ô bên dưới. Sau đó nhấn nút lưu để hoàn tất.</p>
                        <form method="post">@Html.AntiForgeryToken()
                            <div class="form-group">
                                <input type="hidden" asp-for="brandID" />
                                <label for="exampleInputName">Tên hãng xe</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="name" placeholder="Nhập tên hãng xe">
                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Lưu hãng xe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

