<div class="sidebar-box ftco-animate">
    <h3>Thẻ bài viết</h3>
    <div class="tagcloud">
        @foreach (var item in Model)
        {
            <span class="tag-cloud-link">@item.Title</span>
        }
    </div>
</div>