@model List<ResultAboutDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Phần giới thiệu trên trang chủ</h4>
                        <p class="card-subtitle mb-4">
                            Bạn có thể chỉnh sửa nội dung giới thiệu hiển thị trên trang chủ và trang Giới thiệu ở bên dưới. Để tránh làm hỏng bố cục, chỉ nên lưu một bản ghi.
                        </p>
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Tiêu đề</th>
                                        <th>Mô tả</th>
                                        <th>Hình ảnh</th>
                                        <th>Xóa</th>
                                        <th>Cập nhật</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.title</td>
                                            <td>@item.description</td>
                                            <td>@item.imageUrl</td>
                                            <td><form method="post" action="/Admin/AdminAbout/RemoveAbout/@item.aboutID" class="d-inline" onsubmit="return confirm('Bạn chắc chắn muốn xóa dữ liệu này?');">
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-outline-danger">Xóa</button>
</form></td>
                                            <td><a href="/Admin/AdminAbout/UpdateAbout/@item.aboutID" class="btn btn-outline-success">Cập nhật</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <a href="/Admin/AdminAbout/CreateAbout" class="btn btn-outline-primary">Thêm nội dung giới thiệu mới</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>