@model UpdatePricingDto

@{
    ViewData["Title"] = "UpdatePricing";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}



<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Trang chỉnh sửa kỳ thanh toán</h4>
                        <p class="card-subtitle mb-4">Bạn có thể chỉnh sửa kỳ thanh toán trong bảng bên dưới.</p>
                        <form method="post">@Html.AntiForgeryToken()
                            <input type="hidden" asp-for="PricingID" />
                            <div class="form-group">
                                <label for="exampleInputName">Tên kỳ thanh toán</label>
                                <input type="text" class="form-control" id="exampleInputName" asp-for="Name" placeholder="Nhập kỳ thanh toán (Theo ngày, Theo tuần, Theo tháng...)">
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Cập nhật kỳ thanh toán</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



